@import 'reset.css';
@font-face {
  font-family: "Montserrat", sans-serfif;
  src: url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-family: "Work Sans", sans-serif;
  src: url("../fonts/WorkSans-Light.ttf") format("truetype");
}
body, a, button {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

body, a, button {
  color: #465055;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  color: #fff;
}
@media (max-width: 550px) {
  h1 {
    font-size: 2em;
  }
}

h2, thead {
  font-size: 1.5em;
}

tbody tr {
  font-size: 1.2em;
  text-align: left;
}

label, p, button, li, input, a {
  font-size: 1em;
}

input, button, label, p, h2, a {
  margin: 1em;
}

a, button {
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  padding: 0.16em 0;
  min-height: 20px;
}

form p {
  margin: 0;
  text-align: center;
}

.footer a {
  padding: 0;
  border: none;
  background-color: inherit;
  background: inherit;
}
.footer a, .footer p {
  font-size: 0.8em;
  color: #fff;
}

.footer a:hover {
  color: #165aff;
}

body {
  font-size: 100%;
  margin: 0;
}
@media (max-width: 635px) {
  body {
    font-size: 80%;
  }
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.app {
  position: relative;
  padding-bottom: 4rem;
  min-height: 100%;
  background-color: #fafafa;
  margin: 0 4em;
  box-shadow: 0px 0px 10px 1px rgba(5, 5, 2, 0.2);
}
@media (max-width: 500px) {
  .app {
    margin: 0;
  }
}

.container {
  padding: 2vw;
}

table {
  margin: 0.75em auto;
  padding: 1em;
  text-align: center;
}

.table {
  display: inline-block;
  display: flex;
  flex-direction: column;
  border: 1px solid #d1d4d9;
  width: 8em;
  float: left;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

.tableContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em;
}
@media (max-width: 550px) {
  .tableContainer {
    flex-direction: column-reverse;
    align-content: center;
  }
}

.numberCol {
  min-width: 1.5em;
  text-align: center;
}

.playerList {
  width: 14em;
  margin: 0;
}

.leagueScreen tr {
  height: 1.5em;
  padding-inline-start: 0;
}
.leagueScreen thead td {
  height: 1.5em;
}

.leaguetable, .fixtures, .results {
  display: flex;
  align-content: center;
  text-align: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0;
  border: 1px solid #d1d4d9;
  width: 100%;
}

.leaguetableContainer, .resultsContainer, .fixturesContainer {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0;
  width: 25%;
}
@media (max-width: 550px) {
  .leaguetableContainer, .resultsContainer, .fixturesContainer {
    width: 80%;
    margin: 0.5em 0;
  }
}
@media (min-width: 550px) and (max-width: 910px) {
  .leaguetableContainer, .resultsContainer, .fixturesContainer {
    width: 40%;
    margin: 0.5em 0;
  }
}

.teamScoreElement {
  margin: 0.5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #d1d4d9;
}

.tableHeader {
  border: 1px solid #d1d4d9;
}

.Header, .footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: linear-gradient(172deg, #555, #444);
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.formElements, .settings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2em;
}

.settings {
  border: 1px solid #d1d4d9;
}

.buttons, .playerInput, .settingsElements {
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.errorMessage {
  height: 1em;
  padding: 0;
  margin-top: 0.25em;
  margin-bottom: 0;
  color: red;
}

@media (max-width: 550px) {
  .teamDisplay .buttons {
    align-content: center;
    width: 33%;
  }
}

.teamScoreElement button {
  width: 2.7em;
  margin: 0.25em;
}

.clickable:hover {
  border-width: 3px;
  box-sizing: border-box;
  shadow: inset 0 0 5px #165aff;
}

button:hover {
  border-width: 3px;
  box-sizing: border-box;
  shadow: inset 0 0 5px #165aff;
}

a:hover {
  border-width: 3px;
  box-sizing: border-box;
  shadow: inset 0 0 5px #165aff;
}

button, a {
  width: 8em;
  border: 1px solid #ccc;
  background: linear-gradient(172deg, #eee, #ccc);
}
@media (max-width: 550px) {
  button, a {
    width: 16em;
  }
}

input {
  width: 16em;
  height: 2em;
  border: 2px solid #777;
  margin: 0.5em 1em;
}

label {
  text-align: left;
  margin-bottom: 0;
}
@media (max-width: 550px) {
  label {
    text-align: center;
  }
}

a, button {
  width: 8em;
}
@media (max-width: 550px) {
  a, button {
    width: 16em;
  }
}

/*# sourceMappingURL=style.css.map */
