table {

	margin: 0;
	padding: 1em;
}

.table {
	display: inline-block;
	border: 1px solid #eee;
	width: 6em;
	float: left;
	
}

.tableContainer {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.numberCol {
	min-width: 1.5em;
	text-align: center;
}

