@font-face{
	// font-family: 'Poppins', sans-serfif;
	// src: url('../fonts/Poppins-Light.ttf') format('truetype'),
	// 	 url('../fonts/Poppins-LightItalic.ttf') format('truetype'),
	// 	 url('../fonts/Poppins-Bold.ttf') format('truetype');

	// font-family: 'Nunito', sans-serif;
	// 	 src: url('../fonts/Nunito-ExtraLight.ttf') format('truetype');
	// 	 src: url('../fonts/Nunito-ExtraLightItalic.ttf') format('truetype');
}

h1 {
	font-size: 2.5em;
	text-align: center;

	@media (max-width: 380px){
		font-size: 2em;
	}

}

th {
	font-size: 1.5em;
	text-align: center;
}

td {
	font-size: 1.5em;
}


label, p, button, li,  input {
	font-size: 1em;
}

