@font-face{
	font-family: 'Montserrat', sans-serfif;
	src: url('../fonts/Montserrat-Black.ttf') format('truetype');
		 

	font-family: 'Work Sans', sans-serif;
	src: url('../fonts/WorkSans-Light.ttf') format('truetype');
}


body, a, button {
 font-family: 'Work Sans', sans-serif;
 font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 900;
}


body, a, button { 
	color: rgb(70, 80, 85);

}

h1 {
	font-size: 2.5em;
	text-align: center;
	color: #fff;


	@media (max-width: $mobileMaxWidth ){
		font-size: 2em;
	}

}

h2, thead {
	font-size: 1.5em;

}

thead td {
	
	// text-align: center;

}

tbody tr {
	font-size: 1.2em;
	text-align: left;
}


label, p, button, li,  input, a {
	font-size: 1em;
}

input, button, label, p, h2, a {
	margin: 1em;
}

a, button, .clickable {
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	padding: 0.16em 0;
	min-height: 20px
}

form p {
	margin: 0;
	text-align: center;
}

.footer {
	a {
		
		padding: 0;
		border: none;
		background-color: inherit;
		background: inherit;

	}
	a, p {
		font-size: 0.8em;
		color: #fff;

	}
}

.footer a:hover {
	color: rgb(22, 90, 255);
}


