@font-face{
	// font-family: 'Poppins', sans-serfif;
	// src: url('../fonts/Poppins-Light.ttf') format('truetype'),
	// 	 url('../fonts/Poppins-LightItalic.ttf') format('truetype'),
	// 	 url('../fonts/Poppins-Bold.ttf') format('truetype');

	// font-family: 'Nunito', sans-serif;
	// 	 src: url('../fonts/Nunito-ExtraLight.ttf') format('truetype');
	// 	 src: url('../fonts/Nunito-ExtraLightItalic.ttf') format('truetype');
}

h1 {
	font-size: 2.5em;
	text-align: center;


	@media (max-width: $mobileMaxWidth ){
		font-size: 2em;
	}

}

h2, thead {
	font-size: 1.5em;

}

thead td {
	
	text-align: center;
}

tbody tr {
	font-size: 1.2em;
	text-align: left;
}


label, p, button, li,  input, a {
	font-size: 1em;
}

input, button, label, p, h2, a {
	margin: 1em;
}

a, button {
	text-decoration: none;
	text-align: center;
	box-sizing: border-box;
	padding: 0.16em 0;
	min-height: 20px
}

form p {
	margin: 0;
	text-align: center;
}

// .headerLink {
// 	display: inline;
// }


